
{%- if config.copyright %}
    <small class="d-block mb-3">{{ config.copyright }}</small>
{%- endif %}
{% if not config.extra.generator == false %}
    <small class="d-block mb-3">
        email: judyta.cichocka@gmail.com

    </small>

    <small class="d-block mb-3">




        <a href="https://www.instagram.com/judycurie/" target="_blank" rel="noopener">
            <b> instagram </b>
        </a>
        /

        </a>
        <a href="https://www.linkedin.com/in/judyta-cichocka-6992a854//" target="_blank" rel="noopener">
            <b> linkedin </b>
        </a>
        /
        </a>
        <a href="https://www.facebook.com/judyta.cichocka/" target="_blank" rel="noopener">
            <b>facebook</b>
        </a>

    </small>
{% endif %}
